@import "../../libs/styles/theme.scss";

.notFoundBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5  0px;
    .logo {
        width: 80%;
        margin-bottom: 8%;
    }
    h1 {
        @include font("hl");
        color: $gray_300;
        text-shadow: 3px 3px 1px black;
    }
    .goHomeButton {
        @include font("bm");
        width: 120px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.1s;
        padding: 6px 40px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: $gray_200;
        &:hover {
            background-color: $gray_300;
        }
        &:active {
            background-color: $gray_200;
        }
    }
}
