.characterList {
    &-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: scroll;
        height: 600px;
    }
    &-loading {
        height: 350px;
        text-align: center;
    }
}
