@import "../../../libs/styles/theme.scss";
@import "../../../libs/styles/components.scss";
.characterArticle {
    &-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 16px;
        width: min-content;
        height: min-content;
        min-width: 250px;

        background-color: $gray_50;
        border: 2px solid $gray_300;
        border-radius: 4px;
        .state {
            display: flex;
            align-items: center;
            gap: 24px;
            .character {
                width: 100px;
                height: 100px;
                border-radius: 4px;
            }
            .infoContainer {
                width: 157px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .info {
                    display: flex;
                }
            }
        }

        .buttonContainer {
            display: flex;
            gap: 10px;
            > button {
                width: 130px;
            }
        }
    }

    &-iconContainer {
        display: flex;
        gap: 4px;
        flex: 1;
        .plus {
            display: flex;
            align-items: center;
            p {
                color: $inactive_red;
                @include font("ts");
            }
        }
    }

    &-titleLarge {
        @include font("tl");
    }
    &-titleMedium {
        @include font("tm");
    }
}
