.EquipmentModalWrapper {
    display: flex;
    width: 872px;
    height: 378px;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 136px;
    flex-wrap: wrap;
    border-radius: 4px;
    background: var(--gray-gray-100, #d6d6d8);
    .Block {
        display: flex;
        height: 358px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        > div {
            display: flex;
            width: 366px;
            justify-content: space-between;
            align-items: flex-start;
            > img {
                width: 120px;
            }
        }
    }
}

.StatChangeBlock {
    display: flex;
    width: 235px;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    .StatBlock {
        display: flex;
        height: 96px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
        > span {
            color: #000;
            font-family: "NeoDunggeunmo Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
        > div {
            display: flex;
            width: 36px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 2px;
            > div {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}

.EquipmentList {
    width: 121px;
    max-height: 193px;
    flex-shrink: 0;
    background: var(--gray-gray-300, #a6a6ab);
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    flex-direction: column;
    > div {
        padding: 5px 0;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        background-color: gray;
        > .EquipmentStat {
            display: flex;
        }
    }
}

.EquipmentInfoBlock {
    display: flex;
    height: 193px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .EquipmentInfoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 230px;
        height: 138px;
        padding: 10px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--gray-gray-300, #a6a6ab);
        .EquipmentInfo {
            width: 210px;
            height: 64px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            > div {
                width: 64px;
                height: 64px;
                background: var(--gray-gray-100, #d6d6d8);
                box-shadow: -1.65px -1.65px 6.598px 0px rgba(0, 0, 0, 0.5);
            }
        }
        .EquipmentStat {
            display: flex;
            width: 203px;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    .EquipmentInfoButton {
        display: flex;
        width: 230px;
        height: 40px;
        padding: 6px 40px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid var(--Green-green-300, #49ca4b);
        background: var(--Green-green-200, #c7efc8);
    }
}
