.mainmarket {
    &-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .bag {
                display: flex;
                gap: 30px;
            }
        }
    }
}
